In [1]:
import pandas as pd
from datetime import datetime, timedelta, date, time

In [2]:
kendall_redline_df = pd.read_csv("redline.csv.gz", compression='gzip', parse_dates=['arrival_time', 'departure_time'])
kendall_redline_df.head(5)

,schedule_id,drop_off_type,pickup_type,date,arrival_time,departure_time
0,schedule-35448490-L-70071-50,0,0,2018-03-07,2018-03-07 21:04:00,2018-03-07 21:04:00
1,schedule-35826851-2231-1,1,0,2018-03-07,2018-03-07 21:05:00,2018-03-07 21:05:00
2,schedule-35448429-L-70071-50,0,0,2018-03-07,2018-03-07 21:09:00,2018-03-07 21:09:00
3,schedule-35826968-2231-1,1,0,2018-03-07,2018-03-07 21:13:00,2018-03-07 21:13:00
4,schedule-35448491-L-70071-50,0,0,2018-03-07,2018-03-07 21:14:00,2018-03-07 21:14:00

In [3]:
startdate = datetime.strptime('2018-03-07', '%Y-%m-%d').date()
enddate = datetime.strptime('2018-03-16', '%Y-%m-%d').date()
dates_range = [startdate + timedelta(days=x) for x in range(0, (enddate - startdate).days)]
print("Average schedule number: ", len(kendall_redline_df) / len(dates_range))
mintime = datetime.strptime('16:00', '%H:%M')
maxtime = datetime.strptime('18:00', '%H:%M')
hour_difference = (maxtime - mintime).seconds / 3600
print("Average schedule number (per hour): ", len(kendall_redline_df) / (len(dates_range) * hour_difference) )

Average schedule number:  38.0
Average schedule number (per hour):  19.0

In [4]:
# group by 'date' then calculate the gap between
def readSublineGaps(kendall_redline_path:str = 'redline.csv.gz'):
    kendall_redline_df = pd.read_csv("redline.csv.gz", compression='gzip', parse_dates=['arrival_time', 'departure_time'])
    subline_gaps = []
    for date_ in kendall_redline_df['date'].unique():
        arrival_times = kendall_redline_df[kendall_redline_df['date'] == date_][['arrival_time']]
        for i in range(len(arrival_times) - 1):
            difference = arrival_times.iloc[i+1].arrival_time - arrival_times.iloc[i].arrival_time
            subline_gaps.append(difference.seconds / 60)
    return subline_gaps

gaps = readSublineGaps(kendall_redline_df)
print(gaps)

[1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 2.0, 3.0, 4.0, 6.0, 2.0, 2.0, 5.0, 2.0, 2.0, 4.0, 3.0, 1.0, 4.0, 2.0, 0.0, 2.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 4.0, 0.0, 4.0, 4.0, 5.0, 1.0, 1.0, 1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 2.0, 3.0, 4.0, 6.0, 2.0, 2.0, 5.0, 2.0, 2.0, 4.0, 3.0, 1.0, 4.0, 2.0, 0.0, 2.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 4.0, 0.0, 4.0, 4.0, 5.0, 1.0, 1.0, 1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 2.0, 3.0, 4.0, 6.0, 2.0, 2.0, 5.0, 2.0, 2.0, 4.0, 3.0, 1.0, 4.0, 2.0, 0.0, 2.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 4.0, 0.0, 4.0, 4.0, 5.0, 1.0, 1.0, 7.0, 7.0, 6.0, 7.0, 7.0, 7.0, 6.0, 7.0, 7.0, 7.0, 6.0, 7.0, 7.0, 7.0, 6.0, 7.0, 7.0, 7.0, 8.0, 7.0, 8.0, 7.0, 8.0, 7.0, 8.0, 7.0, 8.0, 7.0, 8.0, 7.0, 8.0, 7.0, 1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 2.0, 3.0, 4.0, 6.0, 2.0, 2.0, 5.0, 2.0, 2.0, 4.0, 3.0, 1.0, 4.0, 2.0, 0.0, 2.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 4.0, 0.0, 4.0, 4.0, 5.0, 1.0, 1.0, 1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 2.0, 3.0, 4.0, 6.0, 2.0, 2.0, 5.0, 2.0, 2.0, 4.0, 3.0, 1.0, 4.0, 2.0, 0.0, 2.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 4.0, 0.0, 4.0, 4.0, 5.0, 1.0, 1.0, 1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 2.0, 3.0, 4.0, 6.0, 2.0, 2.0, 5.0, 2.0, 2.0, 4.0, 3.0, 1.0, 4.0, 2.0, 0.0, 2.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 4.0, 0.0, 4.0, 4.0, 5.0, 1.0, 1.0, 1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 2.0, 3.0, 4.0, 6.0, 2.0, 2.0, 5.0, 2.0, 2.0, 4.0, 3.0, 1.0, 4.0, 2.0, 0.0, 2.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 4.0, 0.0, 4.0, 4.0, 5.0, 1.0, 1.0]